.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 678px;
  background-image: url("images/20211005_111052_0000.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 678px;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 3px;
}

.u-section-1 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: 61px auto 0;
}

.u-section-1 .u-text-1 {
  line-height: 2;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin: 27px 27px 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: -25px 30px 60px 892px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 722px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    min-height: 637px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-image-1 {
    min-height: 626px;
    background-position: 50% 0%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-1 .u-image-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 15px -33px 20px 155px;
  }
}