@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins' , sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 181px 250px;
}

.carousel-box {
  display: flex;
}
.carousel-text {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding: 85px 16px 0 115px;
}
.carousel-img {
  display: block;
  width: 35vw;
}

review{
  padding: 7px;
  margin: 17px;
  position: relative;
  right: 23px;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:50px;
}

img{
  width: 509px;
  height:339px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 38vh;
  width: 61vw;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #302121;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px;
}

/* On hover, add a #302121 background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(163, 161, 161, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #302121;
  font-size: 12px;
  position: absolute;
  top: 0;
}

.carousel-btn {
    background-color:  black;
    color: white;
    border-color: black;
    border-width: 10px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    padding: 15px;
}

.carousel-btn:hover {
    opacity: 0.6;
}

.carousel-btn-div {
    text-align: center;
    justify-content: center;
    align-items: center;
}